- unless @chapters.empty?
  %h3 Manga Lists
  - @chapters.each do |list|
    %form{method: 'POST', action: "/manga/" + list['title'] + "/chapters"}
      %input{ type: 'hidden', name: 'page_link', value: list['link']}
      %input{ type: 'submit', value: list['title']}
    %br
