%h1 Welcome to MangaStreamer

%form{method: 'POST', action: '/search/sites/'}
  %label{for: 'name'} Name:
  %input{type: 'text', name: "source_site", value: "http://mangafox.me/manga/"}
  %input{type: 'submit'}
