!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %title = @title || 'MangaStreamer'
  %body
    .container
      = yield(:head)

      :css
        html, body {
          margin: 15;
          padding: 0;
          width: 100%;
          height: 100%;
          font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 13px;
          display: table;
        }
